<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.dao.externalMapper.ExternalMeetingParticipantMapper">
  <resultMap id="ExternalMeetingParticipantMap" type="com.huiyi.dao.ExternalMeetingParticipant">
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="company" jdbcType="VARCHAR" property="companyName" />
    <result column="participantName" jdbcType="VARCHAR" property="name" />
    <result column="meetingFee" jdbcType="REAL" property="fee" />
    <result column="meetingRegisterTime" jdbcType="DATE" property="registTime" />
  </resultMap>

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>