<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 启动解压zhengAdmin-x.x.x.jar到resources目录 -->
    <bean id="zhengAdminUtil" class="com.zheng.common.util.ZhengAdminUtil"></bean>

    <!-- 启动解压ui-x.x.x.jar到resources/ui目录 -->
    <bean id="uiUtil" class="com.zheng.common.util.UIUtil"></bean>

    <bean id="propertyConfigurer" class="com.zheng.common.plugin.EncryptPropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

</beans>